
//    Font Family

$primary-font	: 'Poppins', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #FFB6C1;
$secondary-color: #fdd050;
$title-color	: #222222;
$text-color		: #777777;

$white			: #fff;
$black			: #000;



